<header class='blog-header'>
    <div class='container'>
        <hgroup>
            <h1 class='blog-title'>Viver Bem</h1>
        </hgroup>
        <p class='description'>Inicie seu movimento para uma  <br/> vida equilibrada</p>
    </div>
</header>