<header class='noticias-header'>
    <div class='container'>
        <hgroup>
            <h1 class='blog-title'>Notícias Unimed</h1>
        </hgroup>
        <p class='description'>O que você precisa saber sobre nós</p>
    </div>
</header>