<div class='acessibilidade'>
  <div class='container'>
    <ul>
      <li>
        <button class='btn-contrast'>Alto contraste</button>
      </li>
      <li>
        <button class='btn-font-less'>Reduzir fonte</button>
      </li>
      <li>
        <button class='btn-font-more'>Aumentar fonte</button>
      </li>
    </ul>
  </div>
</div>
