{% if options.unidadeId %}

{% set unidade = get_unidade(options.unidadeId) %}

{% if unidade %}
  {% include 'components/widget-page-builder-location.twig' with { 'options': unidade } %}
{% else %}
  <p>Unidade não encontrada ({{options.unidadeId}})</p>
{% endif %}

{% endif %}
