<div class='widget widget-lista'>
    <header class='widget--header'>
        <h4 class='widget--title'>
            Nome aleatório
        </h4>
        <ul class='widget--list'>
          <li>Programa de Prevençāo de Riscos Ambientais (PPRA)</li>
          <li>Laudo Técnico das Condiçōes Ambientais do Trabalho (LTCAT)</li>
          <li>Atendimento às demandas do eSocial</li>
        </ul>
    </header>
</div>
