<div class='widget widget-localizacao'>
    <div class='widget--thumbnail'>
        <figure>
          <img src='{{base_url()}}/build/images/tmp/plano_familia_UNIMED@2x.png' alt='Para você e sua família'/>
        </figure>
    </div>
    <div class='widget--content'>
        <header class='widget--header'>
            <h4 class='widget--title'>
              Nome aleatório
            </h4>
        </header>

        <div class='widget--address'>
          <p>Rua Waldemar Geib, 161</p>
          <p>CEP: 93540 300 - Novo Hamburgo</p>
        </div>

        <div class='widget--phone'>
          <p>(51) 3568 3080</p>
        </div>
        <footer class='widget--footer'>
          <a href='#' class='btn btn-link'>Ver no mapa</a>
          <a href='#' class='btn btn-secondary'>Horário de exames</a>
        </footer>

    </div>
</div>
