<div class='widget widget-box'>
    <header class='widget--header'>
        <h4 class='widget--title'>
            Nome aleatório
        </h4>
    </header>
    <div class='widget--content'>
        <p>O programa tem como objetivo principal orientar e educar sobre saúde os beneficiários, familiares e/ou cuidadores, estimulando o autocuidado, primando pela qualidade de vida.
        </p>
        <p>
            <strong>Público Alvo:</strong>
            beneficiários Unimed Vale do Sinos, bem como familiares e/ou cuidadores.
        </p>
    </div>
    <footer class='widget--footer'>
        <a href='{{base_url()}}/' class='btn btn-secondary btn-box'>
        Saiba mais
        </a>
    </footer>
</div>
