<div class='widget widget-texto'>
    <header class='widget--header'>
        <h4 class='widget--title'>
            Notícias
        </h4>
    </header>
    <div class='widget--content'>
        <p>
            Essa unidade possui 3 salas de cirurgia multifuncionais equipadas com modernos equipamentos e instrumentos cirúrgicos de excelente qualidade. Caso o paciente esteja sob os cuidados destes setores, os familiares poderão obter informações na recepção. Esta unidade possui 3 salas de cirurgia multifuncionais equipadas com modernos equipamentos e instrumentos cirúrgicos de excelente qualidade.</p>
    </div>
</div>
