<div class='doctor-searcher'>
	<div aria-label="Selecionar tipo de busca" class='selector'>
		<button class='btn active' title='Selecionar Busca rápida'>
			Busca Rápida
		</button>
		<button class='btn advanced' title='Selecionar Busca avançada'>
			Busca Avançada
		</button>
	</div>

	<div class='panel'>
		<form novalidate='true' data-http='{{base_url()}}' action='{{base_url()}}/medicos/busca' method='get' autocomplete='off'>
			<div class=''>
				<div class='basic-panel'>
					<div class='query-field'>
						<input name='termo' v-model='termo' placeholder='O que você está buscando?' title='O que você está buscando?' type='text'/>
						<button aria-label='Pesquisar médico' class='btn btn-secondary' title='Pesquisar médico' type='submit'>
							Pesquisar
						</button>
					</div>
				</div>

				<div class='advanced-panel'>
					<div class='row no-gutters'>
						<div class='col-12 col-lg-6'>
							<fieldset>
								<legend>Selecione as opções para gerar o resultado:
								</legend>
								<div aria-label='Selecione a cidade' class='form-group'>
									<select data-placeholder='Selecione a cidade' id='select-cidades' class='custom-select' name='cidade'>
										<option></option>
									</select>
								</div>
								<div aria-label='Tipo de prestador' class='form-group'>
									<select data-placeholder='Selecione o tipo' class='custom-select' id='select-tipo-prestador' name='tipo_prestador'>
										<option></option>
									</select>
								</div>
								<div aria-label='Especialidade' class='form-group'>
									<select class='custom-select' name='especialidade' id='select-especialidade' data-placeholder='Selecione a especialidade'>
										<option></option>
									</select>
								</div>
							</div>
						</fieldset>

						<div class='col-12 col-lg-6'>
							<div class='document'>
								<label>
									<strong>Identifique-se</strong>
									<br/>
									Digite seu CPF ou número de carteirinha, para encontrarmos o melhor resultado dentro do seu plano
								</label>

								<div class='field'>
									<small class='help'>CPF ou Nº Carteirinha</small>
									<input name='documento' class='mask-number' placeholder='Digite aqui' title='Digite aqui' type='text'/>
								</div>
							</div>
						</div>

					</div>
					<footer class='submit-wrapper'>
						<button aria-label='Pesquisar médico' class='btn btn-secondary' title='Pesquisar médico' type='submit'>
							Pesquisar
						</button>
					</footer>
				</div>
			</div>

		</form>
	</div>

</div>
