<div class='grouplinks'>
{% if config.APP_ANDROID_URL %}
<a href='{{config.APP_ANDROID_URL}}' rel='nofolow' target='_blank'>
  <img alt='Google Play' src='{{ base_url() }}/build/images/gplay.png' title='Baixar app na Google Play'/>
</a>
{% endif %}

{% if config.APP_IOS_URL %}
<a href='{{config.APP_IOS_URL}}' rel='nofolow' target='_blank'>
  <img alt='AppStore' src='{{ base_url() }}/build/images/appstore.png' title='Baixar app na AppStore'/>
</a>
{% endif %}
</div>

