<div class='breadcrumb'>
    <div class='breadcrumb-container container'>
        <ol>
            <li class='home'>
                <a href='{{base_url()}}/' title='Home'>Home</a>
            </li>
            {% if breadlinks %}
                {% for link in breadlinks %}
                    {% if link and link.titulo %}
                        <li class='{% if loop.last %} current {% endif %}'>
                            <a href='{{ mount_url(link.url) }}' title='{{link.titulo}}'>{{link.titulo}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ol>
    </div>
</div>
