<div style="width: 100%; height: 100%; margin: 0; z-index: 99; position: relative;" class="mcf-widget" data-mcf-token="tKtpNd2JZ8dm6bb" data-mcf-userid="ewogICAgInZlcnNpb24iOiAiMS4wIiwKICAgICJjYWxsZXIiOiB7CiAgICAgICAgImlkZW50aWZpZWQiIDogZmFsc2UsCiAgICAgICAgIm5hbWUiOiAiQmVuZWZpY2nDoXJpbyIsCiAgICAgICAgImVtYWlsIjogImNoYXRib3RAdnMudW5pbWVkLmNvbS5iciIsCiAgICAgICAgInBob25lIjogIig1MSkgMzU4NC0xODAwIgogICAgfSwKICAgICJhbGxvY2F0aW9uIjogewogICAgICAgICJhZ2VudCI6ICIiLAogICAgICAgICJxdWV1ZSI6ICJGMDAxIgogICAgfQp9" data-mcf-color="#00995D"></div>

<script>
	(function (d, s, id) {

  var js,
  fjs = d.getElementsByTagName(s)[0];

  if (d.getElementById(id))
  return;


  js = d.createElement(s);

  js.id = id;

  js.src = "https://chamador.mosia.chat/cdn/sdk.js";

  fjs.parentNode.insertBefore(js, fjs);

  }(document, 'script', 'mcf-jssdk'));

  $(document).scroll(function(){
    if($(this).scrollTop() > 59)
        $('.main-header').fadeTo( 0, 0);
    else
        $('.main-header').fadeTo( 0, 1);
 });

  $(document).scroll(function(){
    if($(this).scrollTop() > 30)
        $('.main-header-float').addClass('scroll');
    else
        $('.main-header-float').removeClass('scroll');
 });

</script>

<script src="//api.handtalk.me/plugin/latest/handtalk.min.js"></script>
<script>var ht = new HT({ 
    token: "1f1ce3155ad8840b8a23e9b47402d17d",
      maxTextSize: 2000 
 });</script>
