<header class='header-slim'>
    <div class='container'>
        <div class='row'>
            <div class='col-12 col-lg-2'>
                {% include 'layout/logo.twig' %}
            </div>
            <div class='col-lg-6'>
              <h2 class='cat-title'>
                {{categoria.titulo}}
              </h2>
            </div>
            <div class='col-lg-4'>
              <p>* Tabela sujeita a alteração sem aviso prévio</p>
            </div>
        </div>
    </div>
</header>
