<header class='main-header d-none d-lg-block'>
	<div class='container'>
		<div class='row'>
			<div class='col-5 col-lg-2'>
				{% include 'layout/logo.twig' %}
			</div>

			<div class='col-7 col-lg-10 d-block d-lg-none'>
				<div class='topbar-mobile'>
					{% include 'layout/phone-line-group.twig' %}

					<p class='talk-us'>
						<a href='{{ base_url() }}/fale-conosco' title='Fale com a Unimed'>Fale com a Unimed</a>
					</p>

					<button class='menu-toggle' type='button' title='Abrir menu' aria-label='Abrir menu'>Menu</button>
				</div>
			</div>

			<div class='col-6 col-lg-10 d-none d-lg-block position-static'>
				<div class='topbar'>
					{% include 'layout/phone-line-group.twig' %}

					<p class='talk-us'>
						<a href='{{ base_url() }}/fale-conosco' title='Fale com a Unimed'>Fale com a Unimed</a>
					</p>

					{% include 'layout/search-slim.twig' %}


					<p class='join-link'>
						<a href='{{ mount_url(config.ERP_LOGIN_URL) }}' title='Área Restrita' class='btn btn-outline-primary'>
							Área Restrita
						</a>
					</p>
				</div>
				<div class='basebar'>
					{% include 'layout/menu.twig' %}
					<div aria-label='Encontre um médico' class='localization'>
						<a href='{{base_url()}}/encontre-um-medico' title='Encontre um médico' class='find-link'>
							Encontre um médico
						</a>
					</div>
					<div class='acesso-rapido-btn'>
						<button class='label' role='button'>Acesso Rápido</button>
						<div class='acesso-rapido'>
							<div class='container'>
								{% include 'layout/acesso-rapido.twig' %}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</header>

{% include 'layout/search.twig' %}
{% include 'layout/header-float.twig' %}
