{% if current_path() == '/' %}
    <h1 class='logo'>
    {% else %}
        <div class='logo'>
        {% endif %}
        <a href='{{base_url()}}' class='logo-link'>
            <span class="d-none d-lg-block">
                <img src='{{base_url()}}/build/images/logo_UNIMED.svg' title='Unimed. Ir para a home' alt='Unimed'/>
            </span>
            <span class="d-block d-lg-none">
                <img src='{{base_url()}}/build/images/logo_UNIMED-slim.svg' title='Unimed. Ir para a home' alt='Unimed'/>
            </span>
        </a>
        {% if current_path() == '/' %}
        </h1>
{% else %}
    </div>
{% endif %}
