<div class='search-wrapper'>
    <form action='{{base_url()}}/busca' method='get' title='Busca' novalidate>
        <input name='s' required placeholder='Faça sua busca aqui' title='Digite algo para buscar' type='text'/>
        <button aria-label='Faça uma busca no site' class='search-icon' title='Buscar' type='submit'></button>
    </form>
</div>
