<div class='large-search'>
	<div class='search-bar'>
		<div class='container'>
			<div class='row'>
				<div class='col-5 col-lg-2 d-none d-lg-block'>
					<div class='logo'>
						<a href='{{base_url()}}' class='logo-link'>
							<img src='{{base_url()}}/build/images/logo_UNIMED.svg' title='Unimed. Ir para a home' alt='Unimed'/>
						</a>
					</div>
				</div>
				<div class='col-12 col-lg-10'>
					<div class='bar-wrap'>

						<div>
							<button class='close-button' title='Fechar busca'>&times;</button>
						</div>

						<div class='large-search-wrapper'>
							<form autocomplete='off' action='{{base_url()}}/busca' method='get' title='Busca' novalidate>
								<input id='search-field' name='s' required placeholder='Faça sua busca aqui' title='Digite algo para buscar' type='text'/>
								<button aria-label='Faça uma busca no site' class='search-icon' title='Buscar' type='submit'>
									Buscar
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
