<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site Name</title>
  {% include 'layout/head.twig' %}
</head>
<body>

  {% include 'layout/header.twig' %}
  <main>
  {% block content %}
  {% endblock %}
  </main>
  {% include 'layout/footer.twig' %}
  {% include 'layout/append-body.twig' %}

</body>
</html>
