$sizes: 8px, 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px;

@each $size in $sizes {
  body.font-size-#{$size} {
    font-size: $size;

    @if $size >= 20px {
      .container {
        max-width: 100%;
        width: auto;
      }
    }
  }
}


.acessibilidade {
  display: block;
  background: #eee;
  font-size: 15px;
  cursor: default;
  height: 30px;

  position: relative;
  z-index: 99999;
  overflow: auto;

  .container {
    max-width: 1200px !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  li {
    list-style-type: none;
    padding: 0;
  }
  button {
    border: 0;
    padding: 0 12px;
    font-size: 12px;
    transition: .1s all ease;
    font-weight: bold;
    cursor: pointer;
    color: #999;
    &:hover {
      background: none;
      transition: .1s all ease;
      color: #aaa;
    }
  }

  .btn-contrast,
  .btn-font-less,
  .btn-font-more {
    &:before {
      content: 'A+';
      background: $secondary;
      color: white;
      font-weight: bold;
      font-size: 10px;
      border-radius: 2px;
      vertical-align: middle;
      line-height: 1;
      display: inline-block;
      margin-right: 9px;
      padding: 2px 5px;
      width: 20px;
      height: 15px;
    }
  }
  .btn-font-less:before {content: 'A-'}
  .btn-contrast {
    &:before {
      content: '';
      background: url('../images/brightness.svg') center center $secondary no-repeat;
      background-size: auto 10px;
    }
  }
}

body.high-contrast .btn-contrast {
  color: #222;
  &:before {
    background-color: $primary;
  }
}
