
.blog-header {
  background: url('../images/viver-bem-background.png') center center no-repeat $primary;
  background-size: cover;
  color: white;
  padding: 45px 0;

  h1,
  .title {
    font-size: rem(52);
    margin-bottom: 20px;
    color: white;
  }
  .description {
    color: inherit;
    font-size: 1.3em;
    margin: 0;
  }

}

.noticias-header {
  background: url(../images/noticias-background.png) center center no-repeat $primary;
  background-size: cover;
  color: white;
  padding: 45px 0;

  h1,
  .title {
    font-size: rem(52);
    margin-bottom: 20px;
    color: white;
  }
  .description {
    color: inherit;
    font-size: 1.3em;
    margin: 0;
  }

}

.blog-menu {
  display: block;
  background: $grey;
  overflow: auto;
  margin-bottom: 2rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    @include media-breakpoint-up('lg') {
      justify-content: center;
    }

    li {
      a {
        cursor: pointer;
        color: $text-color;
        display: block;
        width: 100%;
        text-transform: uppercase;
        padding: 20px 20px;
        white-space: nowrap;
        border-bottom: 4px solid transparent;
        font-size: rem(14);
        &:hover {
          color: $title-color;
          @include fade;
          color: $title-color;
          border-bottom-color: $primary;
        }
      }

      &.active a {
        @include fade;
        font-weight: bold;
        color: $title-color;
        border-bottom-color: $primary;
      }
    }
  }
}

.blog-home-wrapper {

  padding-bottom: 3rem;

  .blog-subtitle {
    text-align: center;
    padding: 12px 0;
    margin-bottom: 30px;
  }

  .last-post-banner {

  }


  .pagination-footer {
    .row {
      align-items: center;
    }
    .btn.btn-outline-primary {
      font-size: rem(11);
      float: right;
      margin: 12px 0;
    }
  }

  .post {
    margin-bottom: 2.4rem;
    .posts-thumbnail {
      height: 200px;
    }
  }

}

.featured-post {
  margin-bottom: 4rem;
  .post {
    background: $bg-white;
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
    border-radius: $border-radius;
    overflow: hidden;

    @include media-breakpoint-up('md') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .posts-thumbnail {
      height: 300px;
      margin: 0;
    }

    .post-thumb-wrapper {
      display: block;
      width: 100%;
      @include media-breakpoint-up('md') {
        width: 50%;
      }
    }

    .post-content {
      padding: 2rem;
      @include media-breakpoint-up('md') {
        width: 50%;
      }
    }

  }
}

.newsletter-capture {
  background: $grey;
  border-radius: $border-radius;
  padding: 2rem;
  margin-bottom: 1.2em;

  h1, h2 {
    margin-right: 20px;
    line-height: 1.2em;
    font-size: rem(19);
  }
}

.instagram-component {
  padding: 2px;
  .instagram-media {
    width: 100% !important;
    margin: 0;
    min-width: 0 !important;
  }
}


.blog-sidebar {
  .cloud-tags {
    margin-bottom: 20px;
    padding: 22px 0;
    h2 {
      font-size: rem(17);
      margin: 10px 0 20px;
    }
    > div {
      flex-wrap: wrap;
      display: flex;
    }
    .tag-item {
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      background: $bg-white;
      border: 1px solid $primary;
      padding: 3px 7px;
      font-size: rem(13);
      border-radius: 2px;
      margin: 0 8px 8px 0;
      cursor: pointer;
      @include fade;
      &:hover {
        border-color: $title-color;
        color: $title-color;
        @include fade;
      }
    }
  }
}

/// post-page

.post-page {
  padding-bottom: 5rem;
  &-thumbnail {
    margin-bottom: 2rem;
    border-radius: $border-radius;
    display: block;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: 0 3px 12px rgba(0,0,0,.1);
    margin-top: 2rem;
    max-height: 330px;
    figure {
      border: 0;
      margin: 0;
      padding: 0;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  .content-wrapper {
    padding: 2rem 0;
    .title {
      margin-bottom: 2rem;
    }
    .content {
      color: $text-color;

      iframe {
        min-height: 350px;
        width: 100%;
      }
      p {
        color: inherit;
      }
      * {
        font-family: inherit;
      }

      h1, h3, h2 {
        font-weight: bold;
        font-family: $slab;
        color: $text-color;
        margin-bottom: 20px;
        strong {
          font-family: $slab;
          font-weight: inherit;
          font-family: inherit;
          color: inherit;
        }
      }
      h2 {
        font-size: 1.5em;
      }

    }
  }
  .post-head {
    padding: 2rem 0;
  }
  .post-meta {
    .date {
      font-size: rem(12);
      color: $title-color;
      display: block;
      text-align: right;
    }

    .date:before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      @include icon('clock.svg', 17px);
      margin-right: 12px;
    }
  }

  .post-footer {
    padding: 30px 0 12px;
    font-weight: bold;
    .icon-likes,
    .icon-shares,
    .icon-comments {
      font-family: $slab;
      display: inline-block;
      color: $title-color;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      display: inline-block;
      border-radius: $border-radius;
      padding: 2px 10px;
      @include fade;
      user-select: none;

      &:hover,
      &.checked {
        background: $primary;
        @include fade;
        color: white;
        svg {
          fill: white;
        }
      }

      svg {
        fill: $primary;
        vertical-align: middle;
        position: relative;
        top: -4px;
        margin-right: 10px;
      }
    }
  }

  .related-posts {
    margin: 2rem 0;
    &-title {
      font-size: rem(22);
      color: $title-color;
      display: block;
      margin-bottom: 2rem;
    }
  }

  hr {
    border: 0;
    margin: 1rem 0;
    border-bottom: 1px solid $grey3;
  }

  .comments {
    margin: 2rem 0;
    &-title {
      font-size: rem(22);
      color: $title-color;
      display: block;
      margin-bottom: 2rem;
    }
  }
}



.blog-views {
  padding: 32px 0 12px;
  &--header {
    margin-bottom: 32px;
    h1, h2 {
      font-size: rem(22);

    }
  }

  &--item {

  }
}
