.breadcrumb {
    border-bottom: 1px solid $grey;
    padding: 7px 0;
    background: $bg-white;
    position: relative;
    display: block;
    float: none;
    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: rem(12);

        li {
            display: inline-block;
            &:after {
                content: '';
                display: inline-block;
                opacity: .3;
                margin: 0 4px;
                transform: rotate(-90deg);
                @include icon('ic_keyboard_arrow_up_24px.svg', 7px);
            }
            &:last-child:after {
                display: none;
            }
        }
        li.home {
            a {
                font-size: 0;
                &:hover {
                    opacity: .6;
                }
                &:before {
                    content:  '';
                    display: inline-block;
                    position: relative;
                    top: -3px;
                    vertical-align: middle;
                    @include icon('home-primary.svg', 16px);
                }
            }
        }
        a {
            display: inline-block;
            padding: 8px;
            color: $text-color;
            @include fade;
            &:hover {
                text-decoration: underline;
                color: $title-color;
                @include fade;
            }
            &:focus {
                outline: 0 none;
            }
        }
        li.current {
            a {
                color: $title-color;
                &:hover {
                    color: $primary;
                    color: $primary;
                }
            }
        }
    }
}
