.fale-conosco {
  .form-element {
    padding: 32px;
    border-radius: $border-radius;
    background: $bg-white;
    border: 1px solid $grey2;
    display: block;
    position: relative;
    margin: 2rem 0;
    display: none;


    &.visible {
      display: block;
    }


    .form-group {
      label {
        font-size: rem(12);
        margin: 0;
      }
      .form-control.error {
        border-color: #9f1c1c;
      }
      label.error {
        color: #9f1c1c;
      }
    }
    .error-message,
    .success-message {
      display: none;
      text-align: center;
      padding: 15px;
    }

    button.close {
      border: 0;
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 100%;
      width: 29px;
      height: 29px;
      background: $text-color;
      color: white;
      font-size: rem(23);
      line-height: 1;
      margin: 12px;
      cursor: pointer;
      &:hover {
        background: $primary;
      }
      span {
        position: relative;
        top: -2px;
        cursor: pointer;
      }
    }

    .btn.btn-primary {
      padding: 20px;
    }

    textarea {
      min-height: 190px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;

      .icon {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background: #f2f2f2;
        margin-right: 20px;
        @include fade;
        img {
          opacity: .7;
          height: 32px;
          max-width: 32px;
          width: auto;
          display: inline-block;
        }
      }

      .h3, .h2 {
        font-size: rem(22);
        margin: 0;
      }

    }
  }

  .footer-message {
    font-size: 1.4em;
    text-align: left;
    padding: 2rem 0;
    line-height: 1.3em;
    strong {
      color: $primary;
    }
  }

  .contact-info-footer {
    margin: 0;
    padding: 2rem 0;
    border: 0;
  }
}
