@font-face {
    font-family: 'Unimed Sans';
    src: url('../fonts/UnimedSans-Bold.woff2') format('woff2'),
        url('../fonts/UnimedSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Unimed Sans';
    src: url('../fonts/UnimedSans-Regular.woff2') format('woff2'),
        url('../fonts/UnimedSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unimed Sans';
    src: url('../fonts/UnimedSans-Black.woff2') format('woff2'),
        url('../fonts/UnimedSans-Black.woff') format('woff');
     
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Unimed Slab';
    src: url('../fonts/UnimedSlab-Regular.woff2') format('woff2'),
        url('../fonts/UnimedSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unimed Slab';
    src: url('../fonts/UnimedSlab-Black.woff2') format('woff2'),
    url('../fonts/UnimedSlab-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Unimed Slab';
    src: url('../fonts/UnimedSlab-Bold.woff2') format('woff2'),
    url('../fonts/UnimedSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}