.footer-sitemap {
  background: $grey;
  padding   : 3rem .2rem;

  @include media-breakpoint-up('lg') {
    padding: 3rem 0;
  }

  .logo {
    margin       : 0;
    text-align   : center;
    margin-bottom: 2rem;

    img {
      display: inline-block;
    }
  }

  .btn.btn-outline-primary {
    border-width: 1px;
    font-size   : rem(13);
  }

  .block-menu-group {
    display    : flex;
    align-items: flex-start;
    flex-wrap  : wrap;

    .block-menu {
      width  : 100%;
      display: block;

      @include media-breakpoint-up('md') {
        max-width   : 200px;
        min-width   : 180px;
        width       : auto;
        margin-right: 30px;
      }

      h3 {
        margin: 0 0 1.1rem 0;

        a {
          display: block;
          color  : $title-color;
        }
      }

      >ul {
        display: none;

        @include media-breakpoint-up('md') {
          display: block;
        }
      }
    }
  }

  .btn-ouvidoria {
    margin-top: 12px;
    padding   : 12px 12px;

    &:before {
      content        : '';
      background     : url('../images/fone-primary.svg') center center no-repeat;
      background-size: 100% auto;
      width          : 14px;
      height         : 14px;
      margin-right   : 12px;
      display        : inline-block;
      position       : relative;
      top            : 2px;
    }

    &:hover {
      &:before {
        background-image: url('../images/fone.svg');
      }
    }
  }

  h3 {
    font-weight    : bold;
    color          : $title-color;
    font-family    : $slab;
    font-size      : rem(17);
    text-align     : left;
    padding        : .8rem 1rem;
    cursor         : pointer;
    display        : flex;
    justify-content: space-between;
    border-radius  : $border-radius;
    margin         : 0;

    &:active {
      background: darken($grey, 10);
    }

    &:after {
      content: '';
      @include icon('ic_keyboard_arrow_up_24px.svg', 16px);
      opacity: .6;
    }

    @include media-breakpoint-up('md') {
      margin    : 0 0 .4rem 0;
      padding   : 0;
      text-align: left;
      cursor    : default;

      &:after {
        display: none;
      }

      &:active {
        background: none;
      }
    }
  }

  ul {
    list-style-type: none;
    text-align     : left;
    padding        : 0 1rem 2rem;
    margin         : 0;
    // display     : none;

    @include media-breakpoint-up('md') {
      display     : block;
      padding-left: 0;
      text-align  : left;
    }

    li {
      list-style-type: none;
      padding        : 0;
      margin         : 0;

      &.more {
        a {
          font-size      : rem(12);
          color          : $primary;
          text-decoration: underline;
          cursor         : pointer;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &.hide {
        display: none;
      }

      a {
        color      : $text-color;
        display    : block;
        font-size  : rem(16);
        padding    : 10px 0;
        line-height: 1.5em;
        @include fade;

        @include media-breakpoint-up('md') {
          max-width       : 100%;
          // overflow     : hidden;
          // white-space  : nowrap;
          // text-overflow: ellipsis;
          font-size       : rem(13);
          padding         : 6px 0;
        }

        &:hover {
          color: $title-color;
          @include fade;
        }
      }

      // a
    }
  }
}



.main-footer {
  display : block;
  position: relative;
  padding : 0;

  .container {
    border-bottom: 1px solid $grey;
    margin-bottom: 12px;
  }

  .row {
    align-items: center;
  }

  h3,
  .footer-title {
    font-size: rem(15);
    color    : $title-color;

    font-family  : $slab;
    margin       : 0;
    margin-bottom: 1.1rem;
  }

  .appdownload {
    padding: 3rem 2rem 3rem;

    @include media-breakpoint-up('md') {
      padding: 3rem 0 1rem;
    }

    .grouplinks {
      display        : flex;
      flex-wrap      : wrap;
      justify-content: flex-start;
      align-items    : center;

      @include media-breakpoint-up('md') {
        justify-content: flex-start;
      }
    }

    a {
      display     : inline-block;
      width       : auto;
      margin-right: 10px;
      @include fade;

      &:hover {
        opacity: .8;
        @include fade;
      }

      img {
        max-width: 150px;
        width    : 100%;
        height   : auto;
      }
    }
  }

}


.contact-info-footer {
  padding: 2rem 0;

  @include media-breakpoint-up('lg') {
    margin-right: 2rem;
    border-right: 1px solid $grey;
  }

  .info {
    display        : flex;
    color          : #9a9a9a;
    font-size      : rem(13);
    padding        : .8rem 0;
    justify-content: flex-start;
    padding-left   : 3rem;

    @include media-breakpoint-up('sm') {
      padding-left: 6rem;
    }

    @include media-breakpoint-up('md') {
      padding     : 2rem 0;
      padding-left: 0;
    }

    p {
      margin: 0 0 4px;
    }

    .content {
      padding-left: 20px;

      a {
        color: inherit;
      }
    }

    big {
      color        : $title-color;
      font-weight  : 100;
      font-size    : rem(20);
      display      : block;
      margin-bottom: 6px;
    }

    address {
      cursor: pointer;

      .line1 {
        color: $title-color;
      }

      .line2 {}
    }

  }

  .icon-pin {
    &:before {
      margin-top: 0px;
      @include icon('ic_place_24px.svg', 12px);
      height: 24px;
    }
  }

  .icon-phone {
    &:before {
      margin-top: 5px;
      @include icon('call-outbound.svg', 18px);
    }
  }

  .icon-whatsapp {
    &:before {
      margin-top: 5px;
      @include icon('whatsapp-logo.svg', 18px);
    }
  }

}


.social-info {
  border-top   : 1px solid $grey;
  border-bottom: 1px solid $grey;
  margin       : 0 -15px;

  @include media-breakpoint-up('md') {
    margin       : 0;
    border-top   : 0;
    border-bottom: 0;
  }

  .footer-title {
    display: none;

    @include media-breakpoint-up('md') {
      display: block;
    }
  }

  ul {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    padding        : 0;
    margin         : 0;
    list-style-type: none;

    li {
      display     : inline-block;
      text-align  : center;
      width       : 25%;
      border-right: 1px solid $grey;

      &:last-child {
        border-right: 0;
      }

      @include media-breakpoint-up('md') {
        width : auto;
        border: 0;
      }

      a {
        display: block;
        padding: 20px 12px;
        @include fade;

        @include media-breakpoint-up('md') {
          padding: 12px;
        }

        img {
          width : auto;
          height: 22px;

          @include media-breakpoint-up('md') {
            height: 15px;
          }
        }

        &:hover {
          opacity: .5;
          @include fade;
        }

        &:active {
          background: #ccc;
          @include fade;

          @include media-breakpoint-up('md') {
            background: none;
          }
        }
      }

      // a

    }

    // ili
  }

  // ul
}

// social-info



.footer-bar {
  padding: 12px 0 30px;

  .row {
    align-items: center;
  }

  .copyright {
    font-size: rem(11);
    text-align: center;

    line-height: 1.1em;
    margin     : 2rem 0;
    padding    : 1rem 0 2rem;

    @include media-breakpoint-up('md') {
      margin : 0;
      padding: .3rem 0;
    }
  }

  .by-trinto {
    font-size      : rem(11);
    display        : flex;
    align-items    : flex-end;
    justify-content: center;

    @include media-breakpoint-up('md') {
      justify-content: flex-end;
    }

    a {
      display    : inline-block;
      margin-left: 12px;
    }
  }

  .logos {
    display        : flex;
    align-items    : center;
    justify-content: center;

    &--item {
      width     : 33.3333%;
      text-align: center;
      padding   : 0 12px;

      img {
        display: inline-block;

        max-height: 40px;
        width     : auto;
      }
    }

    &--item-fix {
      padding-top: 8px;
    }
  }
}
