.large-search {
  position : absolute;
  top      : 0;
  left     : 0;
  z-index  : 1001;
  width    : 100%;
  height   : auto;
  transform: translateY(-100%);
  @include fade;
  opacity: 0;

  &.active {
    @include fade;
    opacity: 1;
    transform: translateY(0);
  }

  .search-results {
    background: $bg-white;
    padding   : 2rem 0;

    h2,
    .h3 {
      font-size    : rem(23);
      margin-bottom: 1.1rem;
    }

    .result-list {
      // display     : none;
      list-style-type: none;
      padding        : 0;
      margin         : 0 0 30px 0;
      margin-left: -10px;

      li {
        margin: 0;

        a {
          display    : block;
          color      : $text-color;
          font-size  : rem(13);
          padding    : 10px 12px;
          border-left: 5px solid transparent;
          @include fade;
          border-bottom: 1px solid #fafafa;

          &:hover {
            background       : $grey2;
            color            : $title-color;
            border-left-color: $primary;
            @include fade;
          }

          // hover
        }

        // a
      }

      // li
    } // result-list


    .medico-card-slick {
      margin: 0 -20px;
    }

    .slick-slide {
      padding: 12px 20px 10px;
    }
    .slick-dots {
      padding: 0;
    }

    .medico-card {
      border: 0;
      padding: 22px 32px;
      margin: 0;
      border-radius: 4px;
      box-shadow: 0 3px 12px rgba(0,0,0,.1);

      .address {
        margin-bottom: 12px;
      }
      .especialization {
        margin-bottom: 12px;
      }
      .read-more {
        display: none;
      }
      .content .row {
        display: block;
        > div {
          max-width: none;
          flex: auto;
          display: block;
          width: auto !important;
          &:last-child {
            display: none;
          }
        }
      }
    }


    footer {
      text-align: right;
      padding: 12px 0;
    }

    .btn.btn-outline-primary {
      display: inline-block;
      padding: 12px 30px;
      margin-top: 1.2rem;
    }

    // resuts
  }

  .search-bar {
    background: $grey2;
    padding   : 30px 0;

    .logo {
      img {
        max-width: 150px;
        height   : auto;
      }
    }

    .row {
      align-items: center;
    }

    .bar-wrap {
      display    : flex;
      flex-wrap  : nowrap;
      align-items: center;
    }

    .large-search-wrapper {
      width: 100%;

      input[type=text] {
        padding    : 12px 20px;
        font-weight: normal;
        font-size  : rem(15);
        color      : $text-color;
        border     : 0;
        width      : 100%;
        background : transparent;
        display    : block;
        outline    : 0 none;

        &:focus {
          outline: 0 none;
        }
      }

      button {
        text-transform: uppercase;
        white-space   : nowrap;
        color         : $title-color;
        background    : none;
        border        : 0;
        margin-left   : auto;
        font-weight   : bold;
        @include fade;
        font-size: 0;
        padding  : 8px;
        min-width: 0;

        @include media-breakpoint-up('lg') {
          padding  : 12px;
          font-size: rem(13);
        }

        &:before {
          display     : inline-block;
          margin-right: 10px;
          @include fade;
          @include icon('search.svg', 18px);
        }

        &:hover {
          color: $primary;
          @include fade;

          &:before {
            opacity: .8;
            @include fade;
          }
        }
      }

      form {
        display: flex;
      }
    }

    .close-button {
      border    : 0;
      padding   : 12px;
      font-size : rem(22);
      background: none;
      color     : $title-color;
      @include fade;

      @include media-breakpoint-up('lg') {
        margin-right: 30px;
      }

      &:hover {
        @include fade;
        color: $primary;
      }
    }
  }
}
