.medicos-results {
  padding-bottom: 90px;
  .info {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    h4 {
      font-size: rem(17);
      color: $title-color;
    }
  }

  &-empty {
    text-align: center;
    padding: 120px 0;
  }


  .find-doctor {
    margin-bottom: 30px;

    .basic-panel {
      padding: 32px 0;
    }
  }

  .load-more {
    text-align: center;
    padding: 2rem 0;
    .btn {
      padding: 12px 30px;
      &:disabled {
        background: #CCC;
        border-color: #CCC;
        cursor: default;
      }
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down('md') {
      padding: 12px;
    }

    &-label {
      font-size: 1em;
      color: $text-color;
      display: block;
      margin: .6rem .6rem .6rem 0;
    }

    &-options {
      flex-wrap: wrap;
      align-items: center;
      display: flex;
      @include media-breakpoint-down('md') {
        display: block;
        width: 100%;
      }
    }

    .btn {
      padding: 11px 30px;
      margin: 0 10px;

    }

    .form-group {
      display: block;
      margin: 0;
      padding: 10px 12px;
      .select2-container {
        min-width: 240px;
        @include media-breakpoint-down('md') {
          width: 100% !important;
        }
      }
      .form-control {
        padding-left: 12px;
        padding-right: 4px;
        max-width: 130px;
        font-size: rem(12);
        font-family: inherit;

      }
    }
  }

  .view-mode {
    display: flex;
    margin-left: 3rem;
    span {
      font-size: 1em;
      color: $text-color;
      display: block;
      margin: .6rem .6rem .6rem 0;
    }
    .btn-toggle {
      display: inline-block;
      opacity: .6;
      border: 0;
      border-radius: 2px;
      width: 40px;
      height: 40px;
      background: none;
      &:before {
        content: '';
        @include icon('listmode.svg', 17px);
        opacity: .5;
      }
    }
    .view-mode-option {
      display: flex;
    }
  }

  .header-grow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .map-location {
      font-weight: bold;
      margin: 1rem;
      color: $title-color;
      font-size: .8em;
      text-transform: uppercase;
    }
  }


}

.medico-card.card {
  padding: 1.6rem;
  border: 1px solid $grey2;
  border-radius: 3px;
  margin-bottom: 2rem;
  .name {
    font-size: 1.3em;
    margin: 0;
    line-height: 1.1em;
  }
  .especialization {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $text-color;
    font-size: .8em;
    margin-bottom: 1.4rem;
  }
  .content {
    font-size: .8em;
    line-height: 1.5em;
  }
  p {
    margin: 0;
    color: $title-color;
  }
  small {
    color: $text-color;
    font-size: .92em;
  }

  .map,
  .address,
  .phone {
    margin-bottom: 1rem;
    padding-left: 1.8rem;
    position: relative;
    &:before {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      @include icon('ic_place_24px.svg', 12px);
      height: 20px;
    }
  }

  .address {
    min-height: 60px;
  }

  .phone:before {
    @include icon('fone.svg', 16px);
  }

  .acredd {
    &:before {
      @include icon('favourite-31.svg', 13px);
      margin-right: 8px;
      position: relative;
      top: -2px;
    }
  }

  .map {
    &:before {
      content: '';
      @include icon('ic_place_24px.svg', 12px);
      height: 20px;
    }
    a {
      color: $text-color;
      text-decoration: underline;
      display: inline-block;
      padding: 4px 0;
      line-height: 1;
      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  .read-more {
    margin-bottom: 1rem;
    white-space: nowrap;
    a {
      color: $title-color;
      font-size: 1.1em;
      display: inline-block;
      margin-right: 12px;
      &:before {
        content: '';
        opacity: 1;
        margin-right: 1rem;
        @include icon('ic_keyboard_arrow_up_24px.svg', 12px);
      }
    }
  }

  .read-more-header {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-bottom: 1rem;
    .line {
      height: 1px;
      background: $grey2;
      width: 100%;
      display: block;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 32px;
    padding: 0 0;
  }
  .btn.btn-secondary {
    font-size: .9em;
    padding: 12px 30px;
    margin-left: 2rem;
  }

}
