.main-header .navigation {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  .submenu {
    display: none;
    position: absolute;
    border-top: 1px solid $grey2;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 2rem 0;
    background: $bg-white;

    .container > .row {
      justify-content: center;
      align-items: flex-start;
    }

  }

  .block-menu {
    display: block;
    max-width: 320px;
    margin-right: 40px;
    padding-bottom: 31px;
    &:last-child {
      margin-right: 0;
    }
    h4, .h4 {
      margin-bottom: 19px;
      font-size: rem(18);
      a {
        color: inherit;
        @include fade;
        &:hover {
          @include fade;
          color: $primary;
        }
      } // a
    } // h4

    ul {
      font-size: rem(13);
      li {
        a {
          color: inherit;
          display: block;
          padding: 4px 0px;
          color: $text-color;
          &:hover {
            color: $title-color;
          }
        } // a
      } // li
    } // ul

  } // block

  > ul {
    display: flex;
    > li {
      display: inline-block;

      > a {
        color: $text-color;
        display: inline-block;
        font-size: rem(12);
        text-transform: uppercase;
        padding: 14px 10px;
        text-align: center;
        white-space: nowrap;
        @include fade;
      }

      &:first-child {
        > a {
        }
      }
      &.active {
        > a {
          color: $title-color;
          font-weight: bold;
          @include fade;
        }
      }
      &:hover {
        .submenu {
          display: block;
        }
        > a {
          color: $title-color;
          @include fade;
        }
      } // hver

    } // li
  } // ul


}


.submenu-planos {
  .row {
    align-items: flex-start;
  }
  .find-plan-block {
    display: block;
    max-width: 320px;
    float: right;
    border-left: 1px solid $grey2;
    padding: 20px;
    padding-left: 40px;
    p {
      font-size: rem(13);
    }
    .h4 {
      font-size: rem(17);
      margin-bottom: 30px;
    }
    .btn {
      padding: 12px;
      font-size: rem(12);
      display: block;
      width: 100%;
    }
  }
    .block-menu-group {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      .block-menu {
        display: block;
        max-width: 320px;
        margin-right: 40px;
      }
    } // group
}
