
.page-builder {
  padding: 3rem 0;
  .page-builder-header {
    margin-bottom: 3rem;
    .title {
      margin-bottom: 2rem;
    }
    .description {
      font-size: rem(18);
      width: 100%;
      max-width: 700px;
    }
  }
}

.page-builder-content {

  .component-wrapper {
    margin-bottom: 30px;
    h4, .h4 {
      font-size: rem(20);
      margin-bottom: 23px;
    }
    .type-link {
      margin-bottom: 0;
    }
  }

  h2, h3, h4 {
    strong {
      font-weight: inherit;
    }
  }

  .component-wrapper.type-image {
    figure {
      border-radius: 0;
      overflow: hidden;
      a {
        display: block;
        &:hover {
          img {
            opacity: .9;
            @include fade;
          }
        }
      }
      img {
        @include fade;
        opacity: 1;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
  // filedownload
  .component-wrapper.type-filedownload {
    .button-wrapper {
    }
  }

  .component-wrapper.type-coordenador {
    .name-wrapper {
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 2rem 0 .3rem;
      font-family: $slab;
      font-size: rem(17);
      p {
        margin: 0;
        display: inline;
      }
      i {
        display: inline-block;
        opacity: .6;
        margin-right: 22px;
        @include icon('user-outline-dark.svg', 18px);
      }
    }
  }

  .component-wrapper.type-blocktext {
    font-size: rem(13);
    line-height: 1.8em;
    h2 {
      font-size: rem(22);
      margin-bottom: 2rem;
    }

    .inner-wrapper.with-border {
      border: 1px solid $grey3;
      border-radius: $border-radius;
      padding: 2rem;
    }

    .text-footer {
      padding-top: 2.2rem;
      .btn {
        width: 100%;
        max-width: 150px;
        padding: 12px;
      }
    }
  }


}
