.all-plans {
  padding: 2rem 0 4rem;
  color  : $text-color;

  header {
    margin-bottom: 2rem;

    .title {
      margin-bottom: 1.5rem;
    }
  }

  h3 {
    font-size  : 15px;
    color      : $title-color;
    font-family: $slab;
    margin     : 0 0 2rem 0;
  }

  .plan-options {}

  .plan {
    margin-bottom: 30px;

    figure {
      img {
        @include imagefit;
      }

      // image
    }

    // figure
  }

  // plan

}

.plan-single {
  padding: 2rem 0;

  .plan-single--header {
    padding: 2rem 0;
  }

  .title {
    margin: 2rem 0 3rem;
  }

  .benefits-title {
    margin-bottom: 12px;
    font-size    : 1.5em;
  }

  .benefits-content {
    color: $title-color;

    p {
      margin-bottom: 8px;
    }

    ul {
      list-style-type: none;
      padding        : 0;
      margin         : 0;
      font-size      : 13px;

      li {
        // color       : $title-color;
        text-decoration: underline;

        &::before {
          content      : '';
          margin-right : 10px;
          border-radius: 100%;
          display      : inline-block;
          width        : 8px;
          height       : 8px;
          background   : black;
        }
      }

      // li
    }

    // ul
  }
}

.simulation {
  padding      : 3rem;
  border       : 1px solid $grey2;
  border-radius: $border-radius;
  font-size    : 14px;
  margin       : 1rem 0 3rem;

  .simulation--header {
    margin     : 0 0 2rem 0;
    line-height: 1.5rem;

    h1,
    h2 {
      margin   : 0 0 1.5rem 0;
      font-size: rem(26);
    }

    p {
      width    : 100%;
      max-width: 450px;
    }
  }

  textarea.form-control {
    min-height: 300px;
  }

  .btn {
    padding: 13px 10px;
  }
}



///@at-root
.plans-category--top {

  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;

  &.no-background {
    background: $primary;
  }

  .row {
    align-items   : flex-end;
    min-height    : 300px;
    padding-bottom: 2rem;
  }

  .header--button-right {
    display        : flex;
    justify-content: flex-end;
  }

  .btn {
    font-size: rem(16);
    padding  : 12px 30px;

    &.btn-outline-secondary {
      color: white;
    }
  }

  .title {
    color     : white;
    font-size : 45px;
    text-align: left;
    text-shadow: 0 3px 10px rgba(0,0,0,.3);

    @include media-breakpoint-up('lg') {
      text-align: left;
      font-size : 54px;
    }
  }

  @include media-breakpoint-up('lg') {
    .row {
      align-items: flex-end;
    }
  }
}

// plans-category
.plans-category {
  padding      : 2rem 0;
  margin-bottom: 2rem;

  &--resume {
    padding: 2rem 0;
  }

  &--button {
    text-align: center;

    @include media-breakpoint-down('md') {
      margin: 22px 0;
    }
  }


  .plan-files {
    padding: 90px 0;
    &--item {
      @include media-breakpoint-down('md') {
        margin-bottom: 50px;
      }
      h2, h3 {
        margin-bottom: 30px;
      }
    }
  }


  .btn {
    padding: 12px;
    display: block;
    width  : 100%;
  }
  .btn.btn-downloadable {
    padding: 0;
    width: 100%;
    display: flex;
  }
}

.plan-detail {
  padding      : 2rem;
  border       : 1px solid $grey;
  border-radius: $border-radius;
  background   : white;
  margin       : 1rem 0;
  width        : 100%;

  &--title {
    font-size: rem(23);
    color    : $title-color;
  }

  &--header {
    margin-bottom: 1rem;
  }

  .btn {
    padding: 12px 30px;
  }

  &--options,
  &--content {
    margin-bottom: 1rem;
    font-size    : 13px;

    p {
      margin: 0 0 .4rem 0;
    }

    p,
    ul,
    li,
    ol,
    span {
      font-size: inherit;
    }

    strong {
      font-weight: normal;
      color      : $title-color;
    }
  }
}


///plans-compare

.plans-compare {
  padding: 2rem 0;

  &--table-wrapper {
    max-width: 100%;
    overflow : auto;
  }

  &--table {
    min-width: 620px;
    width    : 100%;
    border   : 1px solid $grey;

    thead {
      th {
        font-weight: bold;
        font-family: $slab;
        color      : $title-color;
        border     : 0;
      }
    }

    th,
    td {
      border       : 0;
      border-bottom: 1px solid $grey;
      padding      : 1rem;

      @include media-breakpoint-up('lg') {
        padding: 2rem;
      }
    }
  }

  tbody {
    th {
      font-weight: normal;
      font-size  : 15px;
      color      : $title-color;
    }

    td {
      color    : $text-color;
      font-size: rem(13);
    }
  }

  .title {
    font-size    : rem(43);
    font-family  : $slab;
    margin-bottom: 2rem;
  }
}

.plans--grid {
  [class^="col-"] {
    display    : flex;
    align-items: stretch;
  }

  @include media-breakpoint-down('md') {
    justify-content: center;
  }

  p.empty {
    width     : 100%;
    @include media-breakpoint-down('md') {
      text-align: center;
    }
  }

}
