.sell-points {
  padding: 2rem 0;
  &--title {
    color: $title-color;
    font-size: rem(22);
    font-family: $slab;
    margin: 0 0 1rem;
  }
  &--header {
    margin: 0 0 3rem;
  }

  .point {
    margin: 0 0 3rem 0;
    display: block;
    position: relative;
    &--title {
      font-family: $slab;
      color: $title-color;
      font-weight: bold;
      margin: 1rem 0 3rem 0;
      font-size: rem(18);
    }
    &--item {
      position: relative;
      margin: 1.5rem 0;
      font-size: rem(12);
      line-height: 1.4em;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin: 0;
      }
      &.address p:first-child,
      &.phone {
        color: $title-color;
      }


      &.timezone {
        .point--icon {
          &:before {
            @include icon('clock.svg', 18px);
          }
        }
      }

      &.phone {
        .point--icon {
          &:before {
            @include icon('call-outbound.svg', 18px);
          }
        }
      }

    } // item
    &--icon {
      width: 45px;
      &:before {
        @include icon('ic_place_24px.svg', 12px);
        height: 20px;
      }

    }


    &--item-content {

    }
  }

}
