.services {
  $self: &;
  padding: 3rem 0;


  &--header {
    .title {
      font-size: rem(53);
      margin-bottom: 2rem;
    }
    .resume {
      font-size: rem(17);
    }
  }

  &--article {
    font-size: rem(12);
    &-title {
      margin-bottom: 1.4rem;
      font-size: rem(23);
    }
  }

  &--listmap {
    width: 100%;
    padding: 2rem 0;
  }

  &--listmap-grid {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    #{ $self }--listmap-item {
      width: 100%;

      @include media-breakpoint-up('md') {
        width: 50%;
      }

      @include media-breakpoint-up('lg') {
        width: 33.33333%;
      }
      @include media-breakpoint-up('xl') {
        width: 25%;
      }

    } // item
  }

  &--listmap-item {
    padding: 1px;
    margin-bottom: 0;
    .icon-plus {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      margin-right: 1rem;
      &:before {
        @include icon('add-white.svg', 24px);
      }
    }

    &.open {
      background: $primary;
      color: white;
      #{$self}--listmap-itemlink {
        background: transparent;
        color: white;
      }

      .icon-plus {
        background: $bg-white;
        &:before {
          opacity: .6;
          @include icon('minus.svg', 24px);
        }
      }
      #{$self}--listmap-drop {
        height: auto;
        transition: .2s all ease;
      }

    }

    #{$self}--listmap-drop {
      height: 0;
      transition: .2s all ease;
      overflow: hidden;
    }

    #{$self}--listmap-subitems {
      list-style-type: none;
      padding: 0 1rem 2rem 62px;
      margin: 0;
      font-family: $slab;
      font-size: rem(14);


      li {
        border-bottom: 1px solid #fff;
        &:last-child {
          border-bottom: 0;
        }

        a {
          display: block;
          color: inherit;
          padding: 4px 4px;
          @include fade;
          &:hover {
            @include fade;
            background: #fff;
            color: $primary;
          }
        }

        &.current {
          a {
            font-weight: bold;
          }
        }
      }
    }

    #{$self}--listmap-itemlink {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 60px;
      position: relative;
      background: $grey;
      color: $title-color;
      border-radius: 0;
      padding: 0 1rem;
      @include fade;
      line-height: 1;
      font-size: rem(16);
      &:hover {
        @include fade;
        color: white;
        background: $primary;
      }
    }

    span {
      font-weight: normal;
      font-size: rem(16);
      font-family: $slab;
      max-width: 70%;
      font-weight: 600;
    }
  }

}

.services-detail {
  .services--header {
    .title {
      margin-bottom: 4rem;
    }
    .resume {
      margin-bottom: 4rem;

    }
  }    // header
} // detail
