.acesso-rapido-btn .label{
	font-weight: bold;
}

section.find-plan .slick-slide .plan .btn {
    color: #b1d249;
    border-color: #b1d249;
    background: #fff;
}

section.find-plan .slick-slide .plan .btn:hover {
    color: #fff;
    border-color: #b1d249;
    background: #b1d249;
}

.differential a.btn.btn-secondary {
    width: 250px;
    height: 40px;
    padding-top: 10px;
}

section.differentials .differential .header h2{
	padding: 0 70px 16px 70px;
}

#noticiais a.category {
    display: none;
}

.sidebar-bottom span {
    font-size: rem(14);
    max-width: 90%;
}

.page-builder-content .component-wrapper.type-blocktext h2 {
    font-size: rem(22);
    margin-bottom: 1rem;
}

.page-builder-content .component-wrapper.type-blocktext {
    font-size: rem(13);
    line-height: 1.4em;
}

.page-builder-content .component-wrapper.type-blocktext .text-footer {
    padding-top: 0.5rem;
}

.noticias-header .description,
.blog-header .description {
    color: inherit;
    font-size: rem(17);
    margin: 0;
}

.blog-header .container,
.noticias-header .container {
  @include media-breakpoint-up('lg') {
    padding-left: 0;
  }
}
