.unidades-list {

}


.regioes-abrangencia {
  position: relative;
  padding-bottom: 3em;
  h1 {
    font-size: rem(44);
  }
  figure {

  }

  @include media-breakpoint-up('lg') {
    h1 {
      font-size: rem(53);
      margin-left: 250px;
    }
    figure {

      text-align: center;
      img {
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
