.widget {
  $self: &;
  margin-bottom: 4rem;

  &.widget-localizacao {
    font-size: rem(14);
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    background: $bg-white;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;

    @include media-breakpoint-up('lg') {
      flex-wrap: nowrap;
      display: flex;
    }



    #{$self}--header {

    }

    #{$self}--content {
      width: 75%;
      padding: 1.4rem;
    }

    #{$self}--thumbnail {
      height: 100%;
      figure {
        margin: 0 0;
        overflow: hidden;
        position: relative;
        width: auto;
        min-height: 250px;
        @include media-breakpoint-up('lg') {
          width: 250px;
        }
      }
      img {
        @include imagefit;
      }
    }

    #{$self}--title {
      font-size: rem(17);
      margin: 0 0 .6rem;
      min-height: 43px;
      line-height: 1.3em;
      color: $title-color;
    }

    #{$self}--phone {
      margin: 0 0 1.7rem;
      position: relative;
      padding-left: 1.8rem;
      &:before {
        @include icon('call-outbound.svg', 18px);
        height: 20px;
        position: absolute;
        left: 0;
        top: 4px;
      }
    }

    #{$self}--address {
      margin: 0 0 1rem;
      position: relative;
      padding-left: 1.8rem;
      &:before {
        @include icon('ic_place_24px.svg', 12px);
        height: 20px;
        position: absolute;
        left: 0;
        top: 4px;
      }
      p {
        line-height: 1.5em;
        margin: 0;
      }
    }

    #{$self}--footer {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        padding: 8px 12px;
        font-size: rem(11);
      }
      .btn.btn-link {
        color: $title-color;
        text-align: left;
        margin-left: -12px;
        @include fade;
        &:hover {
          background: #fafafa;
          @include fade;
        }
        &:before {
          @include icon('ic_place_24px.svg', 12px);
          height: 20px;
          margin-right: 10px;
        }
      }
    }


    .horarios-box-grid {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.5em;
      .horarios-box-item {
        padding: 22px;
        min-width: 130px;
        width: 33.333%;
        h3, .h3, h4, .h4 {
          font-weight: bold;
          color: $title-color;
          font-size: rem(16);
          font-family: inherit;
          margin: 0 0 4px 0;
        }
      }
      p {
        margin: 0 0 0 0;
      }
      p.obs {
        margin: 0 0;
        small {
          font-style: italic;
          font-size: .8em;
        }
      }
    }

  } // localizacao
}




.widget {
  $self: &;
  &.widget-lista {
    font-size: rem(14);
    color: $text-color;

    #{$self}--header {

    }

    #{$self}--title {
      font-size: rem(20);
      color: $title-color;
      margin-bottom: 1.5rem;
    }

    #{$self}--list {
      font-size: rem(12);
      list-style-type: none;
      margin: 0 1.4rem 0 0;
      padding: 0;
      li {
        padding: 1rem 0;
        padding-right: .3rem;
        list-style-type: none;
        border-bottom: 1px solid $grey3;
      }
    }

  } // localizacao
}


.widget {
  $self: &;
  &.widget-box {
    font-size: rem(12);
    color: $text-color;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    background: $bg-white;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    padding: 2rem;

    #{$self}--header {

    }

    #{$self}--title {
      font-size: rem(15);
      color: $title-color;
      margin-bottom: 1.5rem;
      font-family: inherit;
    }

    #{$self}--content {
      min-height: 200px;
      strong {
        font-weight: normal;
        color: $title-color;
      }
    }

    #{$self}--footer {
      display: block;
      .btn {
        width: 100%;
        padding: 12px;
        font-size: rem(11);
      }
    }

  } // localizacao
}

.widget {
  $self: &;
  &.widget-noticias {
    #{$self}--title {
      font-size: rem(20);
      color: $title-color;
      margin-bottom: 2.2rem;
    }
  } // localizacao
}
