{% set page_title = categoria.titulo ~ ' - Blog ' %}
{% extends 'layout/wrapper.twig' %}

{% block content %}
{% set post_destaque = null %}
    {% include 'components/blog-header.twig' %}
    {% include 'components/blog-menu.twig' %}
    {% set post_base_url = base_url() ~ '/blog' %}


    <div class='container'>
        <div class='blog-home-wrapper row'>
            <div class='col-lg-8'>
                {% if posts and posts is not empty %}
                    <div class='row'>
                        {% for b in posts %}
                            <div class='col-lg-6'>
                                {% include 'components/post-item.twig' %}
                            </div>
                        {% endfor %}
                    </div>

                    <footer class='pagination-footer'>
                        {% include 'components/paginador.twig' %}
                    </footer>
                {% else %}
                    <p>Nenhuma postagem encontrada aqui.</p>
                {% endif %}
            </div>
            <div class='col-lg-4'>
                {% include 'components/blog-sidebar.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
