{% extends 'layout/wrapper.twig' %}

{% set page_title =  'Criação de Usuário Web' %}

{% set breadlinks = [
    { titulo: 'Serviços Online', url: '/servicos-online/criacao-usuario-web' },
    { titulo: page_title, url: '/servicos-online/criacao-usuario-web' },
] %}

{% block content %}

	{% include 'layout/breadcrumb.twig' %}

	<div class='container user-web-creation'>
		<div class='row'>
			<div class='col-lg-3'></div>
			<div class='col-lg-6'>
				<h1>Criação de usuário web</h1>
				<p>Para iniciar a criação de usuário web para Unimed Vale dos Sinos, selecione o modelo que você é ou representa:
				</p>
				<div class='block-links'>
					<ul>
						<li>
							<a href='{{config.LINKS_BENEFICIARIO_TITULAR_PLANO_SAUDE}}' title='Beneficiário Titular de plano de saúde'>
								<div>
									<i class='icon-user'>

										<svg xmlns="http://www.w3.org/2000/svg" width="34.474" height="34.474" viewbox="0 0 34.474 34.474">
											<g transform="translate(0 0)"><path class="a" d="M26,93.737a8.619,8.619,0,1,0-8.619-8.619A8.644,8.644,0,0,0,26,93.737Zm0,4.309c-5.818,0-17.237,2.8-17.237,8.619v4.309H43.233v-4.309C43.233,100.847,31.813,98.046,26,98.046Z" transform="translate(-8.759 -76.5)"/></g>
										</svg>
									</i>
									<span>Beneficiário Titular de plano de saúde</span>
								</div>
							</a>
						</li>
						<li>
							<a href='{{config.LINKS_BENEFICIARIO_DEPENDENTE_PLANO_SAUDE}}' title='Beneficiário Dependente de plano de saúde'>
								<div>
									<i class='icon-user'>

										<svg xmlns="http://www.w3.org/2000/svg" width="34.203" height="34.203" viewbox="0 0 34.203 34.203">
											<defs>
												<style>
													.a1238178123718 {
														fill: none;
														stroke: #333;
														stroke-width: 2.5px;
													}
												</style>
											</defs>
											<g transform="translate(1.25 1.25)">
												<g transform="translate(0 0)"><path class="a1238178123718" d="M24.61,92.351a7.926,7.926,0,1,0-7.926-7.926A7.949,7.949,0,0,0,24.61,92.351Zm0,3.963c-5.35,0-15.851,2.576-15.851,7.926V108.2h31.7V104.24C40.461,98.89,29.96,96.314,24.61,96.314Z" transform="translate(-8.759 -76.5)"/></g>
											</g>
										</svg>
									</i>
									<span>Beneficiário Dependente de plano de saúde</span>
								</div>
							</a>
						</li>
						<li>
							<a href='{{config.LINKS_BENEFICIARIO_CONTRATANTE_PLANO_SAUDE_FAMILIAR}}' title='Contratante de plano de saúde familiar'>
								<div>
									<i class='icon-user'>

										<svg xmlns="http://www.w3.org/2000/svg" width="63.475" height="35.974" viewbox="0 0 63.475 35.974">
											<g id="Grupo_957" data-name="Grupo 957" transform="translate(-386 -683.487)">
												<g id="add-user-button" transform="translate(421 687.237)">
													<g id="person-add" transform="translate(0 0)">
														<path id="Caminho_123" data-name="Caminho 123" d="M23,90.737a7.119,7.119,0,1,0-7.119-7.119A7.14,7.14,0,0,0,23,90.737ZM23,94.3c-4.805,0-14.237,2.314-14.237,7.119v3.559H37.233v-3.559C37.233,96.61,27.8,94.3,23,94.3Z" transform="translate(-8.759 -76.5)" fill="#333"/>
													</g>
												</g>
												<g id="add-user-button-2" data-name="add-user-button" transform="translate(386 687.237)">
													<g id="person-add-2" data-name="person-add" transform="translate(0 0)">
														<path id="Caminho_123-2" data-name="Caminho 123" d="M23,90.737a7.119,7.119,0,1,0-7.119-7.119A7.14,7.14,0,0,0,23,90.737ZM23,94.3c-4.805,0-14.237,2.314-14.237,7.119v3.559H37.233v-3.559C37.233,96.61,27.8,94.3,23,94.3Z" transform="translate(-8.759 -76.5)" fill="#333"/>
													</g>
												</g>
												<g id="add-user-button-3" data-name="add-user-button" transform="translate(400 684.237)">
													<g id="person-add-3" data-name="person-add" transform="translate(0 0)">
														<path id="Caminho_123-3" data-name="Caminho 123" d="M26,93.737a8.619,8.619,0,1,0-8.619-8.619A8.644,8.644,0,0,0,26,93.737Zm0,4.309c-5.818,0-17.237,2.8-17.237,8.619v4.309H43.233v-4.309C43.233,100.847,31.813,98.046,26,98.046Z" transform="translate(-8.759 -76.5)" fill="#333" stroke-width="1.5"/>
													</g>
												</g>
											</g>
										</svg>


									</i>
									<span>Contratante de plano de saúde familiar</span>
								</div>
							</a>
						</li>
						<li>
							<a href='{{config.LINKS_EMPRESA_DEMITIDO_APOSENTADO}}' title='Empresa ou Demitido/aposentado'>
								<div>
									<i class='icon-user'>

										<svg xmlns="http://www.w3.org/2000/svg" width="43" height="35.41" viewbox="0 0 43 35.41">
											<g id="office-briefcase" transform="translate(0 -32.368)">
												<path id="Caminho_236" data-name="Caminho 236" d="M39.644,37.459H30.579V35.837a3.473,3.473,0,0,0-3.469-3.469H15.89a3.473,3.473,0,0,0-3.469,3.469v1.622H3.357A3.36,3.36,0,0,0,0,40.815V64.421a3.36,3.36,0,0,0,3.357,3.356H39.643A3.36,3.36,0,0,0,43,64.421V40.815A3.36,3.36,0,0,0,39.644,37.459ZM15.353,35.837a.538.538,0,0,1,.538-.538H27.11a.538.538,0,0,1,.538.538v1.622H15.353Zm-12,4.553H39.644a.426.426,0,0,1,.425.425v7.691c-4.542,1.685-11.393,2.68-18.581,2.68-7.172,0-14.014-.992-18.556-2.671v-7.7A.426.426,0,0,1,3.357,40.39ZM39.644,64.846H3.357a.426.426,0,0,1-.425-.425v-12.8a58.256,58.256,0,0,0,15.58,2.444c0,.017,0,.033,0,.051v.646a2.2,2.2,0,0,0,2.2,2.2h1.586a2.2,2.2,0,0,0,2.2-2.2v-.646c0-.017,0-.034,0-.051a58.16,58.16,0,0,0,15.581-2.451V64.421A.426.426,0,0,1,39.644,64.846Z" transform="translate(0)" fill="#333"/>
											</g>
										</svg>

									</i>
									<span>Empresa ou Demitido/aposentado</span>
								</div>
							</a>
						</li>
					</ul>
					<footer>
						<a href='#' class='btn btn-secondary btn-block ready disabled' disabled>Próximo Passo</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
