{% set page_title = 'Fale conosco' %}

{% set breadlinks = [
    { titulo: 'Fale Conosco', url: '/fale-conosco' },

    { titulo: 'Orientação Farmacêutica', url: '/fale-conosco/atendimento-particular' },
] %}
{% extends 'layout/wrapper.twig' %}

{% block content %}
	{% include 'layout/breadcrumb.twig' %}

	<div class='fale-conosco single-page'>
		<div class='container'>
			<div class='row'>
				<div class='col-lg-10'>
					<header class='single-page-header'>
						<h1 class='title'>Orientação Farmacêutica</h1>
						<div class='description'>
            <p>A Unimed Vale do Sinos conta com profissionais farmacêuticos especializados prontos para atender as suas dúvidas e prestar orientações quanto ao uso de medicamentos.</p>
            <p>Salientamos que este serviço não se destina a indicação de medicamentos. Neste caso, você deverá consultar um médico.</p>
            <p>Preencha os campos abaixo para contatar nosso serviço de Orientação Farmacêutica. O prazo para retorno das informações é de até 48h.</p>
            </div>
					</header>
					<div class='content'>
						<div class='form-element visible'>

							<form class='' novalidate='true' autocomplete='off' spellcheck='false' action='{{base_url()}}/fale-conosco/orientacao-farmaceutica/submit' method='post' autocomplete='off'>

								<div class='row'>
									<div class='col-12 col-lg-12'>
										<div class='form-element-title'>
											<h2 class='h3'>Formulário</h2>
										</div>
									</div>
									<div class='col-12 col-lg-6'>
										{# <div class='form-group'>
											<label>Selecione sua Unimed</label>
											<select class='form-control' name='local' required>
												<option value=''>Selecione</option>
												{% for i in [
													'Unimed Vale dos Sinos',
													'Outra Unimed',
												] %}
													<option value='{{i}}'>{{i}}</option>
												{% endfor %}
											</select>
										</div> #}
										<div class='form-group'>
                      <label>Nome *</label>
											<input class='form-control' name='nome' placeholder='Seu nome' required type='text'/>
										</div>
										<div class='form-group'>
											<label>E-mail *</label>
											<input class='form-control' name='email' placeholder='Seu e-mail' required type='email'/>
										</div>
										<div class='form-group'>
											<label>Telefone *</label>
											<input class='form-control mask-tel' name='telefone' placeholder='Seu telefone' required type='tel'/>
										</div>
                    <div class='form-group'>
											<label>Cidade *</label>
											<input class='form-control' name='cidade' placeholder='Seu cidade' required type='text'/>
										</div>
									</div>
									<div class='col-12 col-lg-6'>

                    <div class='form-group'>
											<label>Mensagem *</label>
											<textarea class='form-control' name='mensagem' placeholder='Mensagem' required></textarea>
										</div>

										<div class='form-submit'>
											<button class='btn btn-block btn-primary' data-loading='Enviando...' type='submit'>
												Enviar mensagem</button>
										</div>
										<div class='success-message'>
											Sua mensagem foi enviada! Logo faremos contato com você!
										</div>
										<div class='error-message'>
											Falha ao enviar sua mensagem
										</div>
									</div>
								</div>


							</div>
						</form>
            <footer class='footer-message'>Como alternativa, você também poderá entrar em contato <br />pelo e-mail <strong>{{config.EMAIL_FORM_ORIENTACAO_FARMACEUTICA}}</strong> ou pelo telefone <strong>(51) 3584-3806</strong></footer>
					</div>

					{% include 'components/fale-conosco-footer.twig' %}

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
