{% set page_title = 'Fale conosco' %}
{% extends 'layout/wrapper.twig' %}
{% set breadlinks = [
    { titulo: 'Fale Conosco', url: '/fale-conosco' },
    { titulo: 'Ouvidoria', url: '/fale-conosco/ouvidoria' },
] %}

{% block content %}
	{% include 'layout/breadcrumb.twig' %}

	<div class='fale-conosco single-page'>
		<div class='container'>
			<div class='row'>
				<div class='col-lg-10'>
					<header class='single-page-header'>
						<h1 class='title'>Ouvidoria</h1>
						<div class='description'>
							<p>A Ouvidoria tem por objetivo acolher as manifestações dos clientes, tais como elogios, sugestões, consultas e reclamações, aperfeiçoando os processos da operadora, buscando sanar eventuais deficiências ou falhas em seu funcionamento.</p>

							<p>A Ouvidoria é uma unidade de segunda instância que poderá solicitar ao cliente o número do protocolo da reclamação
																																								ou manifestação registrada anteriormente junto ao Serviço de Atendimento ao Cliente.</p>
						</div>
					</header>
					<div class='content'>
						<div class='form-element visible'>

							<form class='' novalidate='true' autocomplete='off' spellcheck='false' action='{{base_url()}}/fale-conosco/ouvidoria/submit' method='post' autocomplete='off'>

								<div class='row'>
									<div class='col-12 col-lg-12'>
										<div class='form-element-title'>
											<h2 class='h3'>Formulário de Ouvidoria</h2>
										</div>
									</div>
									<div class='col-12 col-lg-6'>
										<div class='form-group'>
											<input type='hidden' name='assunto' value='ouvidoria'/>
											<label>Nome</label>
											<input class='form-control' name='nome' placeholder='Seu nome' required type='text'/>
										</div>
										<div class='form-group'>
											<label>Número Cartão</label>
											<input class='form-control mask-number' name='numero_cartao' placeholder='Número Cartão' required type='text'/>
										</div>
										<div class='form-group'>
											<label>E-mail</label>
											<input class='form-control' name='email' placeholder='Seu e-mail' required type='email'/>
										</div>
										<div class='form-group'>
											<label>Telefone</label>
											<input class='form-control mask-tel' name='telefone' placeholder='Seu telefone' required type='tel'/>
										</div>
										<div class='form-group'>
											<label>Endereço</label>
											<input class='form-control' name='endereco' placeholder='Seu endereço' required type='text'/>
										</div>
										<div class='row'>
											<div class='col-12 col-lg-6'>
												<div class='form-group'>
													<label>Bairro</label>
													<input class='form-control' name='bairro' placeholder='Seu bairro' required type='text'/>
												</div>
											</div>
											<div class='col-12 col-lg-6'>
												<div class='form-group'>
													<label>Cidade</label>
													<input class='form-control' name='cidade' placeholder='Sua cidade' required type='text'/>
												</div>
											</div>
										</div>
										<div class='form-group'>
											<label>Estado</label>
											<select class='form-control' name='estado' required>
												<option value=''>Selecione o estado</option>
												{% for k, i in estados_lista %}
													<option value='{{i}}'>{{i}}
														({{k}})</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class='col-12 col-lg-6'>

										<div class='form-group'>
											<label>Mensagem</label>
											<textarea class='form-control' name='mensagem' placeholder='Mensagem' required></textarea>
										</div>
										<div class='form-submit'>
											<button class='btn btn-block btn-primary' data-loading='Enviando...' type='submit'>Enviar mensagem</button>
										</div>
										<div class='success-message'>
											Sua mensagem foi enviada! Logo faremos contato com você!
										</div>
										<div class='error-message'>
											Falha ao enviar sua mensagem
										</div>
									</div>
								</div>


							</div>
						</form>
					</div>
          {% include 'components/fale-conosco-footer.twig' %}

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
