{% extends 'layout/wrapper.twig' %}

{% block content %}
    <div class='page-builder'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-1'></div>
                <div class='col-lg-10'>
                    <header class='page-builder-header'>
                    </header>
                    <div class='content'>
                    Vazio
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
