{% set page_title = pagina.titulo %}
{% set sidebar = pagina.habilitar_sidebar == '1' %}
{% set sidebar_bottom = pagina.habilitar_sidebar_bottom == '1' %}
{% set mostrar_header = pagina.habilitar_header == '1' %}

{% set breadlinks = [
    { titulo: level1.titulo, url: '/' ~ level1.slug },
] %}

{% if level2 %}
    {% set breadlinks = breadlinks|merge([
        { titulo: level2.titulo, url: '/' ~ level1.slug ~ '/' ~ level2.slug },
    ]) %}
{% endif %}

{% if level3 %}
    {% set breadlinks = breadlinks|merge([
        { titulo: level3.titulo, url: '/' ~ level1.slug ~ '/' ~ level2.slug ~ '/' ~ level3.slug },
    ]) %}
{% endif %}

{% extends 'layout/wrapper.twig' %}

{% block content %}

{% include 'layout/breadcrumb.twig' %}
    <div class='page-builder'>
        <div class='container'>
            <div class='row'>


                {% if sidebar %}
                <div class='col-12 col-xl-3 order-12'>
                    <aside class='sidebar-right'>
                        {% include 'components/menu-modulos.twig' %}
                    </aside>
                </div>
                {% endif %}

                <div class='col-12 {% if sidebar %}col-xl-9{% else %}col-xl-12{% endif %}'>
                    {% if mostrar_header %}
                    <header class='page-builder-header'>
                        <h1 class='title'>{{pagina.titulo}}</h1>
                        {% if pagina.descricao %}
                            <div class='description'>{{pagina.descricao}}</div>
                        {% endif %}
                    </header>
                    {% endif %}
                    <div class='content'>
                        {% set page_builder_content = conteudo %}
                        {% include 'components/page-builder-content.twig' with {
                          'page_builder_content': conteudo,
                          'pagina': pagina,
                        } %}
                    </div>
                </div>
            </div>

            {% if sidebar_bottom %}
              <div class='row'>
                <div class='col-12 col-xl-1'></div>
                <div class='col-12 col-xl-10'>
                  <aside class='sidebar-bottom'>
                    {% include 'components/menu-modulos.twig' with {'grid': 1} %}
                  </aside>
                </div>
              </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
