
{% set page_title = 'Página não encontrada (404)' %}
{% set breadlinks = [
    { titulo: '404', url: '/' },
] %}

{% extends 'layout/wrapper.twig' %}

{% block content %}
{% include 'layout/breadcrumb.twig' %}
    <div class='page-builder'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-1'></div>
                <div class='col-lg-10'>
                    <header class='page-builder-header'>
                    </header>
                    <div class='content-404'>
                    <h3 class=''>
                    Página não encontrada (404)</h3>
                    <p>
                        <a href='{{base_url()}}/'>Voltar à página inicial do site</a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
