{% set page_title = 'Notícias' %}
{% extends 'layout/wrapper.twig' %}

{% block content %}
	{% set post_destaque = null %}
	{% set post_base_url = base_url() ~ '/noticias' %}
	{% include 'components/noticias-header.twig' %}
	{% include 'components/blog-menu.twig' %}

	{% set isHome = posts and current_page == 1 and not categoria %}

	<div class='container'>
		<div class='blog-home-wrapper row'>

			{% if isHome %}
				<div class='col-lg-12'>
					<div class='featured-post'>
						{% include 'components/post-item-featured.twig' with { post: posts|first } %}
					</div>
				</div>
			{% endif %}

			<div class='col-lg-8'>
				{% if categoria %}
					<h2 class='blog-subtitle'>{{categoria.titulo}}</h2>
					<br/>
				{% endif %}
				{% if tag %}
					<h2 class='blog-subtitle'>Assunto:
						{{tag}}</h2>
					<br/>
				{% endif %}
				{% if posts %}
					<div class='row'>
						{% if isHome %}
							{% set posts = posts|filter((post, index) => index > 0) %}
						{% endif %}
						{% for b in posts %}
							<div class='col-lg-6'>
								{% include 'components/post-item.twig' %}
							</div>
						{% endfor %}
					</div>
					<footer class='pagination-footer'>
						<div class='row'>
							<div class='col-lg-8'>
								{% include 'components/paginador.twig' %}
							</div>
							<div class='col-lg-4'>
                <a href='{{ config.NOTICIAS_ANTERIORES_EXTERNO_LINK }} ' title='Ver notícias anteriores' class='btn btn-outline-primary'>
                  Ver notícias anteriores
                </a>
              </div>
						</div>
					</footer>
				{% endif %}
			</div>
			<div class='col-lg-4'>
				{% include 'components/blog-sidebar.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
