{% extends 'layout/wrapper.twig' %}

{% block content %}
    <div class='container'>
        <div class='plan-single'>
            <header class='row plan-single--header'>
                <div class='col-12 col-lg-1'></div>
                <div class='col-12 col-lg-6'>
                    <h1 class='title'>{{plano.titulo}}</h1>
                    <p class='resume'>
                        {{plano.conteudo}}
                    </p>
                </div>
            </header>
            <div class='row'>
                <div class='col-12 col-lg-1'></div>
                <div class='col-12 col-lg-9'>
                    <p>
                    Obrigado por solicitar a simulação do plano <strong>{{plano.titulo}}</strong>.
                    Em breve faremos contato com você
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
