{% set page_title = 'Unidades Unimed Vale do Sinos' %}
{% set breadlinks = [
    { titulo: 'Unidades', url: '/unidades' },
] %}

{% extends 'layout/wrapper.twig' %}

{% block content %}
{% include 'layout/breadcrumb.twig' %}

    <div class='unidades single-page'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-12'>

                    <header class='single-page-header'>
                        <h1 class='title'>{{page_title}}</h1>
                        <p class='description'>Confira aqui os endereços, horários de atendimento e contato das unidades Unimed Vale do Sinos.</p>
                    </header>
                </div>
            </div>
        </div>
        <div class='unidades-list'>
            <div class='container'>
                {% if unidades %}
                    <div class='row'>
                        {% for u in unidades %}
                            <div class='col-lg-6'>
                                {% include 'components/widget-page-builder-location.twig' with { 'data': u } %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Nenhuma unidade cadastrada</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class='regioes-abrangencia'>
    <div class='container'>
      <h1>Regiões de<br /> Abrangência</h1>
      <figure>
        <img src='{{base_url()}}/build/images/regioes-abrangencia.png' alt='Regiões de Abrangência' title=''/>
      </figure>
    </div>
    </div>
{% endblock %}

